* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #254a67bf;
    box-shadow: rgba(136, 157, 168, 0.8) 0 3px 8px -3px;
}

main {
    text-align: center;
}

input {
    display: block;
    font: inherit;
    padding: 5px;
    max-width: 350px;
    font-size: 20px;
    border: 2px solid rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    margin-right: 10px;
}